<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Registration</title>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.css" %}>
</head>
<body>
<section class="navigation-section">
    <div class="navigation-section-container">
        <nav class="navigation">
            <a href=""><button>Home</button></a>
            <a href=""><button>About</button></a>
            <a href=""><button>Gallery</button></a>
            <a href=""><button>Register</button></a>
            <a href=""><button>Login</button></a>
        </nav>
    </div>
</section>
{% if messages %}
    {% for message in messages %}
        <p style="color:green">{{ message }}</p>
    {% endfor %}
{% endif %}
{% block content %}

{% endblock %}
</body>
</html>